h2.tumor {
    float: right;
    font-size: 12px !important;
    text-align: right;
}

h2.stats {
    /*float: right;*/
    font-size: 10px !important;
    text-align: right;
}


.bold {
    font-weight: bolder;
    font-size: 10px !important;
    text-align: right;
    color: red;
}
/*.male {*/
    /*background: rgba(179,205,227,0.4);*/
/*}*/

/*.female {*/
    /*background: rgba(251,154,153,0.4);*/
/*}*/